.betterpnp .npc {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.betterpnp .attribute {
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1px;
  height: 100%;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}

.betterpnp .attribute-icon {
  padding: 4px;
}

.betterpnp .attribute-icon svg {
  height: 36px;
  width: 36px;
}

.betterpnp .attribute-key,
.attribute-value {
  flex-basis: 0;
}

.betterpnp .attribute-key {
  color: #777;
  font-size: 10px;
}

.betterpnp .attribute-value {
  color: white;
}

.betterpnp .attribute-key {
  align-self: flex-start;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.betterpnp .attribute-value {
  flex-grow: 1;
  flex-shrink: 1;
}

.betterpnp .attribute-value-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.betterpnp .attribute-separator {
  flex-grow: 0;
  flex-shrink: 0;
  height: 0;
  width: 100%;
}

.betterpnp .attribute-image {
  max-width: 80% !important;
  width: 400px !important;
}

.betterpnp .attribute-color {
  height: 24px;
  width: 24px;
}
